<header class="container">
    <h3>{{bucket?.name}}</h3>
</header>

<nav class="container p-0">
    <div class="row no-gutters">
        <div class="col-auto">
            <button class="tab" [disabled]="viewFiles" (click)="toggleViewFiles()">Files</button>
        </div>
        <div class="col-auto">
            <button class="tab" [disabled]="!viewFiles" (click)="toggleViewFiles()">Bucket details</button>
        </div>
    </div>
</nav>

<article [hidden]="!viewFiles" class="container">
    <div class="row mb-3">
        <div class="col">
            <h5>All Files ({{documents?.length}})</h5>
        </div>
        <div class="col-auto">
            <button class="btn btn-dark" [disabled]="!currentDocument" (click)="deleteDocument()">Delete Object</button>
        </div>
        <div class="col-auto">
            <div class="custom-file">
                <input type="file" class="custom-file-input" (change)="upload($event)">
                <label class="custom-file-label" for="customFile">Upload Object</label>
            </div>
        </div>
    </div>

    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Last modified</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let document of documents"
                    (click)="selectDocument(document.name)"
                    [class.selected]="currentDocument===document.name">
                <td>{{document.name}}</td>
                <td>{{document.modified | date: 'dd.MM.yyyy'}}</td>
                <td>{{document.size | byte}}</td>
            </tr>
        </tbody>
    </table>
</article>

<article [hidden]="viewFiles" class="container">
    <div class="row mb-3">
        <div class="col">
            <table class="simple">
                <tbody>
                    <tr>
                        <td>Bucket name:</td>
                        <td>{{bucket?.name}}</td>
                    </tr>
                    <tr>
                        <td>Location:</td>
                        <td>{{bucket?.location.name}}</td>
                    </tr>
                    <tr>
                        <td>Storage size:</td>
                        <td>{{fileSize | byte}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-auto">
            <button class="btn btn-danger" (click)="deleteBucket()">Delete Bucket</button>
        </div>
    </div>
</article>