.tab {
    width: 100%;
    height: 100%;
    border: none;
    padding: 12px;
    cursor: pointer;
}

.tab:disabled {
    background-color: #FFF;
    color: #000;
}

.tab, .custom-file-label::after {
    background-color: #143442;
    color: #FFF;
}

/* override bootstrap file upload button */
.custom-file-label {
    text-align: start;
    border-color: #143442;
}

tr.selected {
    background-color: #c4ffd0;
}

/* override bootstrap hover effect */
tr.selected:hover {
    background-color: #c4ffd0;
}

table.simple tr td:first-child {
    text-align: right;
    padding-right: 20px;
}