<article class="container">
    <h5>Create New Bucket</h5>

    <form (ngSubmit)="onSubmit()" #bucketForm="ngForm">
        <div class="row">
            <div class="form-group col">
                <label for="name">Bucket Name*</label>
                <input class="form-control" type="text" name="name" [(ngModel)]="bucketName" required >
            </div>
            <div class="form-group col">
                <label for="location">Bucket Location*</label>
                <select class="form-control" name="location" [(ngModel)]="locationId">
                    <option *ngFor="let location of locations" value="{{location.id}}">{{location.name}}</option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!bucketForm.form.valid">Create Bucket</button>
    </form>
</article>