<header class="container">
    <h3>Bucket List</h3>
</header>

<bucket-form [hidden]="formHidden" (created)="onNewBucket($event)"></bucket-form>

<article class="container">
    <div class="row mb-3">
        <div class="col">
            <h5>All Buckets ({{buckets?.length}})</h5>
        </div>
        <div class="col-auto">
            <button [hidden]="!formHidden" (click)="toggleForm()" class="btn btn-dark">Create New Bucket</button>
        </div>
    </div>
    
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bucket of buckets" routerLink="/bucket/{{bucket.id}}">
                <td>{{bucket.name}}</td>
                <td>{{bucket.location.name}}</td>
            </tr>
        </tbody>
    </table>
</article>