<div *ngIf="errorService.errorMessage" class="container alert alert-danger mt-3">
    <button type="button" class="close" (click)="errorService.clear()">
        <span>&times;</span>
    </button>
    {{errorService.errorMessage}}
</div>