@import url('https://unpkg.com/bootstrap@4.0.0/dist/css/bootstrap.min.css');

body {
    background-color: #3b9ac7;
}

.navbar, .btn-dark {
    background-color: #143442;
    color: #FFF;
}

header {
    margin-top: 24px;
    margin-bottom: 24px;
    color: #fff;
}

article {
    background-color: #fff;
    margin-bottom: 24px;
    padding: 24px;
}

/* fix hidden not working with bootstrap styles */
[hidden] {
    display: none !important;
}

.table-hover td {
    cursor: pointer;
}

.table {
    border: 1px solid #dee2e6;
    margin: 0;
}